body {
    background-color: #1b262c; 
}
#container {  
    width: 100%;  
    max-width: 2040px;
    margin: auto;
    display: flex;
    flex-direction: column;  
    justify-content: center;     
}
.row4, .row5, .row6, .row7, .row9 {
    width: 90%;
    margin: auto;
}
.row7, .row8, #r8_2 {
    display: flex;
    flex-direction: row; 
    justify-content: left;
}
button {
    width: 80px;
    height: 30px;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;    
}
.row1 {
    background-color: #293942;
    padding-left: 65px;
}
#radiohead {
    padding-right: 400px;
}
#radiohead, #contact, #plans, #blog {
    background-color: #293942;
    border: none;
    color: #F9F8FF;
    margin-right: 45px;
}
#signIn {
    background-color:#7971E9;
    color: #F9F8FF;    
}
#signUp {
    color: #7971E9;
    background-color: #293942;
    margin-right: 55px;
}
.row2 {
    background-color: #1b262c; 
    background-image: url(images/2_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 300px; 
    padding-left: 65px;
}
#info-box {
   padding-top: 50px;
}
#tryIt {
    background-color:#7971E9;
    color: #F9F8FF;    
    height: 30px;
    width: 90px
}
h1 {
    color: #F9F8FF;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;  
} 
.row3 {
    background-color: #293942;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 70px;
}
#playstation, #blackberry, #redbull, #tiktok, #sennheiser {
    padding-right: 65px;
}
#more, #discover {
    color: #7971E9;  
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.row4 {
    padding-top: 50px;
    background-color: #1b262c
}
#info-box2 {
    float: right;
    padding-bottom: 85px;
}
.row5 {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #1b262c
}
#info-box3 {
    float: left;
    padding-top: 100px;
    padding-right: 500px;
}
.row6, .row7 {
    background-color: #1b262c
}
#r7_1, #r7_2, #r7_3, #r7_4 {
    padding-right: 50px;
    padding-bottom: 20px;
}
h2 {    
    color: #F9F8FF;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-left: 3px solid #7971E9;
    margin-right: 10px;
}
p {
    color: #7a7c7e;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.row8 {
    padding-bottom: 50px;
    padding-top: 15px;
    background-color: #293942;
    padding-left: 70px;
}
#r8_1 {
    padding-right: 45px;
}
#initial {    
    color: #7a7c7e;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
ol, #r8_2 {    
    color: #F9F8FF; 
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.row9, #insta, #facebook, #twitter {
    background-color: #1b262c;
    text-align: center;
    padding-right: 50px;
    padding-top: 5px;
}